.search__input.field__input {
  padding-right: 9.8rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

.template-search__results .product-grid {
  row-gap: 2rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
}

.template-search__results .product-card-wrapper {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}

.template-search__results .product-card-wrapper .card {
  width: 100%;
}

.template-search__results .product-card-wrapper .card > .card__content {
  padding: 1.8rem 1.8rem 2rem;
  display: grid;
  gap: 1rem;
  align-content: start;
}

.template-search__results .product-card-wrapper .card > .card__content .card__information {
  padding: 0;
  display: grid;
  gap: 0.9rem;
  align-content: start;
}

.template-search__results .product-card-wrapper .card > .card__content .card__heading,
.template-search__results .product-card-wrapper .card > .card__content .card-information,
.template-search__results .product-card-wrapper .card > .card__content .card-information > * {
  margin: 0;
}

.template-search__results .product-card-wrapper .card > .card__content .card__heading {
  line-height: 1.45;
}

.template-search__results .product-card-wrapper .card > .card__content .card-information {
  display: grid;
  gap: 0.7rem;
  align-content: start;
}

.template-search__results .product-card-wrapper .card > .card__content .card-information > * + * {
  margin-top: 0;
}

.template-search__results .product-card-wrapper .card > .card__content .card__cta {
  margin-top: 0.4rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .template-search__results .product-grid {
    column-gap: var(--grid-desktop-horizontal-spacing);
  }
}
